//how to book section button of this section is order-button
.book {
	padding: 40px 20px 84px;
	background-color: $light-grey;
	width: 100%;
	@include add-flex;
	flex-direction: column;
	justify-content: stretch;
	&__title {
		margin-top: 0;
	}
	&__p {
		margin-bottom: 0.6rem;
	}
}
@media screen and (min-width: 768px) {
	.book {
		width: 50%;
		padding: 70px 20px 84px;
		border-radius: 20px;
	}
}
