.book {
	padding: 40px 20px 90px;
	background-color: $light-grey;
	@include add-flex;
	flex-direction: column;
	justify-content: stretch;
	&__title {
		margin-top: 0;
	}
	&__p {
		margin-bottom: 0.6rem;
	}
	&__link-container {
		margin-top: 1rem;
		height: 50px;
		background-image: linear-gradient($secondary, $primary);
		@include add-flex;
		border-radius: 30px;
		@include shadow;
	}
	&__link {
		padding: 1.5rem;
	}
}
