.book {
	padding: 40px 20px 84px;
	background-color: $light-grey;
	@include add-flex;
	flex-direction: column;
	justify-content: stretch;
	&__title {
		margin-top: 0;
	}
	&__p {
		margin-bottom: 0.6rem;
	}
}
