.header {
	@include add-flex;
	@include shadow;
	z-index: 2;
	position: relative;
	background-color: white;
	&__arrow {
		position: absolute;
		left: 1rem;
		padding: 1rem;
	}
	&__title {
		margin: 0.7rem 0;
	}
}
