.menu {
	padding: 0 1rem;
	background-color: $light-grey;
	position: relative;
	padding-bottom: 5rem;
	width: 100%;
	&::before {
		width: 100%;
		position: absolute;
		content: '';
		top: -2.5rem;
		height: 2.5rem;
		left: 0;
		background-color: $light-grey;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
	}
	&__header {
		@include add-flex;
		justify-content: space-between;
		& > restaurant__icon-container {
			padding-right: 1rem;
		}
	}
	&__title {
		margin-top: 0;
		margin-left: 0.6rem;
		margin-bottom: 0.9rem;
	}
	&__course {
		padding-bottom: 1.5rem;
	}
}
@media screen and (min-width: 768px) {
	.menu {
		width: 60%;
		margin-bottom: 3rem;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;
		@include shadow;
	}
}
@media screen and (min-width: 900px) {
	.menu {
		width: 50%;
	}
}
