.point {
	height: 70px;
	background-color: $light-grey;
	position: relative;
	border-radius: 20px;
	@include shadow;
	@include add-flex;
	margin: 25px 10px;
	padding-left: 35px;
	padding-right: 35px;
	margin-right: 0;
	justify-content: start;
	&__number {
		position: absolute;
		left: -10px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-color: $primary;
		@include add-flex;
	}
	&__icon {
		padding-right: 1rem;
	}
	&--course {
		background-color: white;
		justify-content: space-between;
		margin: 15px 0;
		padding-right: 10px;
		padding-left: 10px;
		width: 100%;
		opacity: 0;
		transform: translateY(20px);
		animation-name: button-appearance;
		animation-duration: 1s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
		animation-delay: 0;
	}
	&--one {
		animation-delay: 0.2s;
	}
	&--two {
		animation-delay: 0.4s;
	}
	&--three {
		animation-delay: 0.6s;
	}
}
