.restaurants {
	background-color: $light-grey;
	padding: 20px 20px 40px;
}
.restaurant {
	border-radius: 20px;
	@include add-flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	align-items: start;
	background-color: white;
	margin-bottom: 25px;
	@include shadow;
	&__image-container {
		width: 100%;
		&--new {
			position: relative;
			&::before {
				position: absolute;
				top: 1rem;
				right: 0.8rem;
				background-color: $tertiary;
				content: 'New';
				width: 4.8rem;
				height: 1.8rem;
				@include add-flex;
			}
		}
	}

	&__image {
		height: 175px;
		width: 100%;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		object-fit: cover;
		&--radius {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			height: 100%;
		}
	}
	&__info-container {
		width: 100%;
		padding: 0 20px;
		@include add-flex;
		justify-content: space-between;
	}
	&__title {
		margin: 0.4rem 0;
	}
	&__p {
		margin: 0.4rem 0 0.9rem;
	}
	&__icon-container {
		position: relative;
	}
	&__icon-container .fa-heart {
		position: absolute;
		top: -1rem;
		left: -1rem;
		cursor: pointer;
	}
	&__icon-container .fas {
		opacity: 0;
	}
	&__icon-container .far {
		opacity: 1;
	}
	.restaurant__icon-container .far:hover {
		opacity: 0;
	}
	.restaurant__icon-container .fas:hover {
		opacity: 1;
	}
}
