@keyframes add-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes remove-opacity {
	0% {
		opacity: 1;
		z-index: 3;
	}
	100% {
		opacity: 0;
		z-index: 0;
	}
}
@keyframes button-appearance {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
