@keyframes add-opacity {
	0% {
		opaciyty: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes remove-opacity {
	0% {
		opaciyty: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes button-appearance {
	0% {
		opaciyty: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
