body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
a {
	color: black;
}

h1,
h2,
h3,
h4 {
	color: $heading;
}
.header__title {
	font-family: 'Shrikhand', cursive;
	font-size: 1.8rem;
	font-weight: 900;
	letter-spacing: 0.5px;
}
.location {
	color: $grey-title;
	&__icon {
		font-size: 1rem;
	}
	&__title {
		font-size: 1rem;
		font-weight: 500;
	}
}
.book {
	&__p {
		color: $dark-grey;
		font-weight: 300;
		font-size: 1.1rem;
		text-align: center;
	}
	&__link {
		color: white;
		font-weight: 500;
		font-size: 0.9rem;
	}
	&__title {
		text-align: center;
	}
}

.point {
	font-size: 0.9rem;
	&__number {
		color: white;
		font-size: 0.9rem;
	}
	&__icon {
		font-size: 1.2rem;
		color: rgba($dark-grey, 0.8);
		&--clicked {
			color: $primary;
		}
	}
}
.restaurant {
	&__title {
		font-size: 1.2rem;
	}
	&__p {
		color: $dark-grey;
		font-size: 1.1rem;
	}
	&__icon-container {
		font-size: 1.4rem;
	}
	&__icon-container .fas.fa-heart {
		color: $primary;
	}
	&__icon-container .far {
		color: rgba($dark-grey, 0.8);
	}
	&__icon-container .fas {
		color: $primary;
	}
	&__image-container--new::before {
		color: #139273;
		font-size: 0.9rem;
	}
}
.menu__title {
	text-transform: capitalize;
	font-family: 'Shrikhand', cursive;
	font-size: 1.7rem;
	font-weight: 900;
	letter-spacing: 0.5px;
}
.course {
	&__title {
		text-transform: uppercase;
	}
}
.footer a {
	color: white;
	font-size: 1rem;
}
p.footer__title a {
	font-family: 'Shrikhand', cursive;
	font-size: 1.1rem;
}
.fa-utensils,
.fa-hands-helping {
	font-size: 0.8rem;
}

.fa-arrow-left {
	font-size: 1.4rem;
}
